.form-area {
	max-width: 550px;
}

@media (max-width: 390px) {
	.form {
		padding: 20px !important;
	}
}

@media (max-width: 455px) {
	.c-f-form {
		flex-direction: column;
	}

	.c-f-form .form-check {
		margin-bottom: 10px;
	}
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="submit"],
.form input[type="tel"],
.select-form {
	padding-top: 12px;
	padding-bottom: 12px;
}

.line span::before,
.line span::after {
	content: "";
	background-color: #212529;
	width: 120px;
	height: 1px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.line span::before {
	left: -130px;
}

.line span::after {
	right: -130px;
}

.signin-icon img {
	width: 30px;
	height: 30px;
}
.underline {
	text-decoration: underline;
}