/* 
==================================
Google Fonts
==================================
*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Roboto:wght@400;500;700&display=swap');
/* 
==================================
Google Fonts
==================================
*/

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #212529;
	line-height: 1.5;
	overflow-x: hidden;
	letter-spacing: .5px;
	font-style: normal;
}

/* 
==================================
Bacic Setup
==================================
*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a,
span,
label {
	display: inline-block;
}

ul li {
	list-style: none
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
}

button:focus,
input:focus,
textarea:focus,
button,
input,
textarea {
	outline: 0;
	border: 0;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
	margin: 0;
	padding: 0;
}

hr {
	opacity: 1;
	background-color: transparent;
}

/* 
==============================
Font Size
==============================
*/
.size-50 {
	font-size: 50px;
}

@media (max-width: 575px) {
	.size-50 {
		font-size: 40px;
	}
}

.size-40 {
	font-size: 40px;
}

.size-30 {
	font-size: 30px;
}

.size-25 {
	font-size: 25px;
}

.size-18 {
	font-size: 18px;
}

.size-17 {
	font-size: 17px;
}

.size-16 {
	font-size: 16px;
}

/* 
=================================
Font Color
=================================
*/
.t-color-23 {
	color: #23085A;
}

.t-color-21 {
	color: #212529;
}

.t-color-00 {
	color: #00AA55;
}

/* 
====================================
Background Color
====================================
*/
.bg-23 {
	background: #23085A;
}

.bg-7f {
	background: #7fc45a;
}

.bg-f2 {
	background: #F2F3F9;
}

/* 
====================================
Font Weight
====================================
*/
.fw-500 {
	font-weight: 500;
}


/* 
====================================
Spacing
====================================
*/
.pt-70 {
	padding-top: 70px;
}

.pb-70 {
	padding-bottom: 70px;
}

.py-13 {
	padding-top: 13px;
	padding-bottom: 13px;
}

.px-30 {
	padding-left: 30px;
	padding-right: 30px;
}

/* 
================================================
================================================
Start Reuseble Components
================================================
*/
.tran-1 {
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.tran-2 {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* 
================================================
End Reuseble Components
================================================
================================================
*/